#include <windows.h>

// 1. 添加图标
IDI_ICON1 ICON "app.ico"

// 2. 添加版本和作者信息
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0" // 中文 (0804) + Unicode (04b0)
        BEGIN
            VALUE "CompanyName",      "Curit"
            VALUE "FileDescription",  "断电自动休眠/关机监控工具"
            VALUE "FileVersion",      "2.0.1.0"
            VALUE "InternalName",     "AutoShutDownPC.exe"
            VALUE "LegalCopyright",   "Copyright © 2024-2026 Curit"
            VALUE "OriginalFilename", "AutoShutDownPC.exe"
            VALUE "ProductName",      "AutoShutDownPC"
            VALUE "ProductVersion",   "2.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END